<section class="h-screen bg-primary relative z-0">
    <div class="sm:px-16 px-6 sm:py-16 py-10 max-w-7xl mx-auto">
      <div class="xs:mt-10 2xl:mt-20">
        <div class="flex flex-col-reverse items-center md:flex-row">
            <div class="xs:mt-2 md:mt-2 text-center md:text-left">
                <h2
                  class="text-white font-black 2xl:text-[60px] sm:text-[40px] xs:text-[30px] text-[20px]"
                >
                  Hello, <br />
                  I'm <span class="text-tertiary">Deepak Paul</span>
                </h2>

                <div class="xs:mt-10 2xl:mt-20 text-secondary text-[20px] max-w-3xl">
                    I am a web developer with experience in TypeScript and JavaScript,
                    and expertise in frameworks like React, Angular, Angular JS, and
                    Node.js.
                    <p class="mt-5">
                      <strong>Let's work together to bring IDEAS to LIFE.</strong>
                    </p>
                  </div>
              </div>

                <img class="rounded-full w-1/2 md:w-1/3" src="https://res.cloudinary.com/deepak-paul/image/upload/v1690384152/projects/dp.jpg" alt="Deepak Paul"/>
              
        </div>

        
        <div class="flex xs:mt-5 2xl:mt-20 gap-5">
          <a href="https://www.github.com/deepakrudrapaul/" target="_blank">
          <div
            class="black-gradient w-14 h-14 rounded-full flex justify-center items-center cursor-pointer"
          >
            <img
              [src]="icons.github"
              alt="Github"
              class="w-1/2 h-1/2  object-contain"
            />
          </div>
          </a>


          <a href="https://www.linkedin.com/in/deepak-rudra-paul/" target="_blank">
          <div
            class="black-gradient w-14 h-14 rounded-full flex justify-center items-center cursor-pointer"
          >
            <img
              [src]="icons.linkedin"
              alt="Github"
              class="w-1/2 h-1/2  object-contain"
            />
          </div>
          </a>


          <a href="https://www.twitter.com/deepakrudrapaul/" target="_blank">
          <div
            class="black-gradient w-14 h-14 rounded-full flex justify-center items-center cursor-pointer"
          >
            <img
              [src]="icons.twitter"
              alt="Twitter"
              class="w-1/2 h-1/2 object-contain"
            />
          </div>
          </a>
        </div>

        <div class="xs:mt-5 2xl:mt-20">
          <button
            [routerLink]="['/contact']" 
            type="button"
            class="text-white px-10 py-5  bg-tertiary hover:bg-orange-600  focus:ring-blue-300 focus:outline-none focus:ring-1 font-medium rounded-lg text-lg  dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            Get in touch
          </button>
        </div>
      </div>
    </div>
  </section>